fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scapy
pandas
scikit-learn
joblib
websockets
cryptography
pymysql
email-validator
xgboost

